{% extends 'base_login.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="container margin">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            {{ form_start(form) }}
            {{ form_row(form.login) }}
            {{ form_row(form.password) }}

            {{ first }} + {{ second }} = ?
            {{ form_widget(form.answer) }}

            <span class="text-danger">{% if error is defined %}{% trans %}You entered an invalid summ or somthing went wrong{% endtrans %}{% endif %}</span> <br>
            <button type="submit" style="margin-top: 5px" class="btn btn-primary submit">{% trans %}Register{% endtrans %}</button>
            {{ form_end(form) }}
        </div>
        <div class="col"></div>
    </div>

</div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <a class="col text-right" href="{{ path('auth') }}">{% trans %}Authentification{% endtrans %}</a>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
