{% extends 'base.html.twig' %}

{% block title %}{% trans %}Sets{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        {% if grid is not empty %}
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            {% trans %}Sets{% endtrans %}
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">{% trans %}Count of tries{% endtrans %}</th>
                                    <th scope="col">{% trans %}Weight{% endtrans %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in grid %}
                                <tr>
                                    <td>{{ row.getTries }}</td>
                                    <td>{{ row.getWeight }}  {% trans %}kg{% endtrans %}</td>
                                </tr>
                                {% else %}
                                    {% trans %}No sets have been found{% endtrans %}.
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        {% endif %}
        </div>

        <div class="row card">
            <div class="card-header">
                <h3>{% trans %}Add new set{% endtrans %}</h3>
            </div>
            {{ form_start(form) }}
            <div class="col">
                <div class="margin">
                    {{ form_label(form.tries) }}
                    {{ form_widget(form.tries) }}
                </div>
                <div class="margin">
                    {{ form_label(form.weight) }}
                    {{ form_widget(form.weight) }}
                </div>
                <div class="margin">
                    {{ form_label(form.comment) }}
                    {{ form_widget(form.comment) }}
                </div>
                <input class="margin btn btn-primary" type="submit" />
                {{ form_end(form) }}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <a href="{{ path('day') }}" class="margin btn btn-secondary btn-block">{% trans %}Back{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}