{% extends 'base.html.twig' %}

{% block title %}{% trans %}Sets{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        {% if grid is empty %}
            {% if sets is not empty %}
                {% trans %}You have{% endtrans %} {{ sets | last.getTries }} {% trans %}tries{% endtrans %} {% trans %}with{% endtrans %} {% trans %}weight{% endtrans %} {{ sets | last.getWeight }}{% trans %}kg{% endtrans %}
            {% endif %}
        {% endif %}

        {% if grid is not empty %}
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            {% trans %}Sets{% endtrans %}
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">{% trans %}Count of tries{% endtrans %}</th>
                                    <th scope="col">{% trans %}Weight{% endtrans %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in 0 .. grid | length -1 %}
                                <tr>
                                    <td>{{ grid[i].getTries }} {% if sets[i] is defined %}
                                            ({{ sets[i].getTries }})
                                            {% if (grid[i].getTries * grid[i].getWeight) > (sets[i].getTries * sets[i].getWeight) %} <span class="green">⬆</span> {% endif %}
                                            {% if (grid[i].getTries * grid[i].getWeight) < (sets[i].getTries * sets[i].getWeight) %} <span class="red">⬇</span> {% endif %}
                                        {% endif %}</td>
                                    <td>{{ grid[i].getWeight }}  {% trans %}kg{% endtrans %} {% if sets[i] is defined %}({{ sets[i].getWeight }}){% endif %}</td>
                                </tr>
                                {% else %}
                                    {% trans %}No sets have been found{% endtrans %}.
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        {% endif %}
        </div>

        <div class="row card">
            <div class="card-header">
                <h3>{% trans %}Add new set{% endtrans %}</h3>
            </div>
            {{ form_start(form) }}
            <div class="col">
                <div class="margin">
                    {{ form_label(form.tries) }}
                    {{ form_widget(form.tries) }}
                </div>
                <div class="margin">
                    {{ form_label(form.weight) }}
                    {{ form_widget(form.weight) }}
                </div>
                <div class="margin">
                    {{ form_label(form.comment) }}
                    {{ form_widget(form.comment) }}
                </div>
                <input class="margin btn btn-primary" type="submit" />
                {{ form_end(form) }}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <a href="{{ path('day_started', {'training_id' : training}) }}" class="margin btn btn-secondary btn-block">{% trans %}Back{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}