{% extends 'base.html.twig' %}
{% block title %}{% trans %}Trainings{% endtrans %}{% endblock %}
{% block body %}
    <div class="container-fluid main">
        <div class="main-header d-flex justify-content-between align-items-center">
            <h3>{% trans %}Trainings{% endtrans %}</h3>
            <div class="d-flex justify-content-end"><a href="{{ path('training_creator') }}" class="btn btn-success">{% trans %}Add training{% endtrans %}</a></div>
        </div>
        <br/>
            <div class="list-group">
                {% for row in grid %}
                    <div class="row">
                            <div class="margin col">
                                    <a href="{{ path('training', {'id': row.getTrainingId}) }}" class="list-group-item list-group-item-action flex-column align-items-start" role="button">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ row.getTrainingName }}</h5>
                                            <small>{{ row.getCreationDate|date('Y.m.d G:i:s') }}</small>
                                        </div>
                                        <p class="mb-1">{% trans %}Number of exercises:{% endtrans %} {{ exercises }}</p>
                                        <small>{{ row.getDescription }}</small>
                                    </a>
                            </div>
                    </div>
                {% else %}
                    {% trans %}No trainings have been found{% endtrans %}.
                {% endfor %}
            </div>
        </div>
{% endblock %}
