{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>{% trans %}Trainings{% endtrans %}</h1>

    {% trans %}Founded{% endtrans %}: {{ trainingsCount }}<br/>

    <div class="links">
    {% for row in grid %}
        <a href="{{ path('training', {'id': row.getTrainingId}) }}">{{ row.getTrainingName }}</a>
    {% else %}
        {% trans %}No trainings have been found{% endtrans %}.
    {% endfor %}
    </div>
    {{ form_start(form) }}
    <h6>{% trans %}Create new training{% endtrans %}</h6>
    {{ form_widget(form) }}
    <input type="submit" />
    {{ form_end(form) }}

    {% if message is defined %}
        {{ message }}
    {% endif %}

    {% if result is defined %}
        {{ result }}
    {% endif %}

</div>
{% endblock %}
