{% extends 'base.html.twig' %}
{% block title %}Trainings{{ controller_name }}!{% endblock %}
{% block body %}
<div class="">
    <div class="container" style="">
        <div class="row">
            <div class="col"></div>
            <div class="col"><h1 style="text-align: center">{% trans %}Trainings{% endtrans %}</h1></div><div class="col"></div>
        </div>
        <div class="row">
            <div class="container card margin">
                {% for row in grid %}
                    <div class="row">
                            <div class="margin col">
                                    <a href="{{ path('training', {'id': row.getTrainingId}) }}"
                                       class="btn btn-primary btn-lg btn-info btn-block"
                                       role="button">{{ row.getTrainingName }}</a>
                            </div>
                    </div>
                {% else %}
                    {% trans %}No trainings have been found{% endtrans %}.
                {% endfor %}
            </div>
        </div>
        <div class="row card">
            <div class="card-header">
                {% trans %}Create new training{% endtrans %}
            </div>
                {{ form_start(form) }}
                <div class="col">
                    <div class="margin">
                        {{ form_label(form.training_name) }}
                        {{ form_widget(form.training_name) }}
                    </div>
                    <div class="margin">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                    </div>
                    <input class="margin btn btn-primary" type="submit" />
                    {{ form_end(form) }}

                    {% if result is defined %}
                        {{ result }}
                    {% endif %}
                </div>
        </div>
        <div class="container">
            <div class="row">
                <a href="/" class="margin btn btn-secondary btn-block">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
