{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>{% trans %}Trainings{% endtrans %}</h1>

    Founded: {{ trainingsCount }}<br/>

    <div class="links">
    {% for row in grid %}
        {#<a href="{{ path('training') }}/{{ row.getTrainingId }}">{{ row.getTrainingName }}</a>#}
        <a href="{{ path('training', {'id': row.getTrainingId}) }}">{{ row.getTrainingName }}</a>
    {% else %}
        No trainings have been found.
    {% endfor %}
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" />
    {{ form_end(form) }}

    {% if message is defined %}
        {{ message }}
    {% endif %}

    {% if result is defined %}
        {{ result }}
    {% endif %}

</div>
{% endblock %}
