{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="">
    <div class="container-fluid" style="background-color: #718C00">
        <h1>{% trans %}Trainings{% endtrans %}</h1>

        {% if trainingsCount is defined %}{% trans %}Founded{% endtrans %}: {{ trainingsCount }}{% endif %}<br/>

        <div>
        {% for row in grid %}
            <ul class=""><a href="{{ path('training', {'id': row.getTrainingId}) }}">{{ row.getTrainingName }}</a></ul>
        {% else %}
            {% trans %}No trainings have been found{% endtrans %}.
        {% endfor %}
        </div>
        {{ form_start(form) }}
        <h6>{% trans %}Create new training{% endtrans %}</h6>
        {{ form_widget(form) }}
        <input type="submit" />
        {{ form_end(form) }}

        {% if message is defined %}
            {{ message }}
        {% endif %}

        {% if result is defined %}
            {{ result }}
        {% endif %}
        <a href="/">Назад</a>
    </div>
</div>
{% endblock %}
