{% extends 'base.html.twig' %}

{% block title %}{% trans %}Training{% endtrans %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>{% trans %}Training{% endtrans %}</h1>
    <h3>ID - {% if id is defined %}{{ id }}{% endif %}</h3>
    {% trans %}Description{% endtrans %}:
    {% if entity.getDescription is defined %}
        {{ entity.getDescription }}
    {% else %}
        {% trans %}Not founded{% endtrans %}
    {% endif %}
    <br/>
    <h1>{% trans %}Exercises{% endtrans %}:</h1>

    <div class="links">
        {% for row in exercises %}
            <a href="{{ path('exercise',{'id':row.getExerciseId}) }}">{{ row.getExerciseName }}</a>
        {% else %}
            {% trans %}No exercises have been found{% endtrans %}.
        {% endfor %}
    </div>

    <br/>

    {{ form_start(form) }}
    <h3>{% trans %}Create new exercise{% endtrans %}</h3>
    {{ form_widget(form) }}
        {% if result is defined %}
            {% trans %}Exercise succesfully saved{% endtrans %}
        {%  endif %}
    <input type="submit" />
    {{ form_end(form) }}

    <br/>
    <a href="{{ path('trainings') }}">Back</a>
{% endblock %}